@import url('https://fonts.googleapis.com/css2?family=Anek+Devanagari:wght@100..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Anek Devanagari", sans-serif;
}

body {
    text-align: center;
    background: linear-gradient(to bottom, #5cc1d1, #fff);
    min-height: 100vh;
}

main {
    display: inline-block;
    padding-top: 10px;
    position: relative;
}

.pokedex {
    width: 100%;
    max-width: 420px;
}

.pokemon__image {
    position: absolute;
    transform: translate(65%, 88%);
    height: 30%;
}