@import url('https://fonts.googleapis.com/css2?family=Anek+Devanagari:wght@100..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Anek Devanagari", sans-serif;
}

body {
    text-align: center;
    background: linear-gradient(to bottom, #5cc1d1, #fff);
    min-height: 100vh;
}

main {
    display: inline-block;
    padding-top: 40px;
    position: relative;
}

.pokedex {
    width: 100%;
    max-width: 365px;
}

.pokemon__image {
    position: absolute;
    bottom: 58%;
    right: 48%;
    transform: translate(50%, 88%);
    height: 20%;
}

.pokemon__data {
    position: absolute;
    font-weight: 580;
    font-size: clamp(23px, 5vw, 23px);
    color: #ED1B24;
    top: 67%;
    right: 33%;
}

.pokemon__name {
    color: #20211D;
    text-transform: capitalize; /* Deixa somente a primeira letra em maiusculo */
}

.form {
    position: absolute; 
    width: 100%;
    top: 81% ;
    left: -5%;
}

.input__search {
    background-color: #3AB54A;
    width: 45%;
    outline: none;
    padding: 7%;
    border: 3px solid #0c2810;
    border-radius: 5px;
    font-weight: 600px;
    color: #051006;
    font-size: clamp(10px, 5vw, 0,9rem);
    box-shadow: -2px 3px 0 #133c19, -4px 5px 0 #081a0b;
}

.buttons {
    position: absolute;
    bottom: 14%;
    left: 83%;
    width: 31%;
    transform: translate(-40%, 0);
    display: flex;
    gap: 22px;
}

.button {
    width: 25%;
    background-color: #58595B;
    border-radius: 15%;
    font-weight: 700;
    border-color: #8f9482;
    border-right: none;
    border-left: none;
}

.button:active {
    font-size: 0.7rem;
}

input::placeholder {
    color: #fc0e1a;
  }