@import url('https://fonts.googleapis.com/css2?family=Anek+Devanagari:wght@100..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Anek Devanagari", sans-serif;
}

body {
    text-align: center;
    background: linear-gradient(to bottom, #5cc1d1, #fff);
    min-height: 100vh;
}

main {
    display: inline-block;
    padding-top: 40px;
    position: relative;
}

.pokedex {
    width: 100%;
    max-width: 365px;
}

.pokemon__image {
    position: absolute;
    bottom: 70%;
    left: 5%;
    transform: translate(50%, 88%);
    height: 30%;
}

.pokemon__data {
    position: absolute;
    font-weight: 580;
    font-size: clamp(23px, 5vw, 23px);
    color: #ff0000;
    top: 67%;
    right: 33%;
}

.pokemon__name {
    color: rgb(18, 40, 50);
    text-transform: capitalize; /* Deixa somente a primeira letra em maiusculo */
}

.form {
    position: absolute;
    background-color: red;  
}